html,
body {
    margin: 0;
    padding: 0;
    background-color: black;
}


canvas {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.title {
    float: left;
    width: 100%;
    text-align: center;
}


.title_h1{
    font:  45px sans-serif;
    margin-bottom: 0;
    color: #00ff00;
}


.title_h2{
    font: 25px sans-serif;
    margin-top: 0;
    color: #00ff00;
}


.score_title {
    margin: 0;
    width: 100%;
    text-align: center;
    float: left;
    color: white;
    font-size: 30px;
}



.gameover{
    margin: auto;
    width: 512px;
    height: 480px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}


#game-over-overlay {
    background-color: black;
    opacity: .5;
}


#game-over {
    height: 200px;
    text-align: center;
    color: white;
}


.game-over_h1 {
    font-size: 3em;
    font-family: sans-serif;
}


.gameover_button {
    font-size: 1.5em;
}


.instruction {
    display: block;
    position: absolute;
    top: 28%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    width: 400px;
    z-index: 10;
    border: 1px solid black;
    float: right;
    background-color: rgba(255, 222, 173, 0.8);
    color: black;
    text-align: center;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
    padding: .8em .8em 1em;
    margin: 0 auto;
    -webkit-box-shadow: 0px 0px 12px 0px #000;
    box-shadow: 0px 0px 12px 0px #000;
}


.instruction_inputs {
    margin-bottom: 45px;
}


.myButton {
    -moz-box-shadow: 0px 17px 14px -7px #732764;
    -webkit-box-shadow: 0px 17px 14px -7px #732764;
    box-shadow: 0px 17px 14px -7px #732764;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6459b3), color-stop(1, #300720));
    background:-moz-linear-gradient(top, #6459b3 5%, #300720 100%);
    background:-webkit-linear-gradient(top, #6459b3 5%, #300720 100%);
    background:-o-linear-gradient(top, #6459b3 5%, #300720 100%);
    background:-ms-linear-gradient(top, #6459b3 5%, #300720 100%);
    background:linear-gradient(to bottom, #6459b3 5%, #300720 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6459b3', endColorstr='#300720',GradientType=0);
    background-color:#6459b3;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    font-weight:bold;
    padding:13px 32px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8a3e63;
    opacity: 1;
}


.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #300720), color-stop(1, #6459b3));
    background:-moz-linear-gradient(top, #300720 5%, #6459b3 100%);
    background:-webkit-linear-gradient(top, #300720 5%, #6459b3 100%);
    background:-o-linear-gradient(top, #300720 5%, #6459b3 100%);
    background:-ms-linear-gradient(top, #300720 5%, #6459b3 100%);
    background:linear-gradient(to bottom, #300720 5%, #6459b3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#300720', endColorstr='#6459b3',GradientType=0);
    background-color:#300720;
}


.myButton:active {
    position:relative;
    top:1px;
}
