
* {
    font-family: Lato, sans-serif;
    color: #bebebe;
}


body {
    min-width: 360px;
}


img {

    max-width: 100%
}


.container {
    width: 100%;
    max-width: 950px;

}


.header {
    width: 100%;
    height: 150px;
    
    margin-left: auto;
    margin-right: auto;
    display: block;


    border-bottom: solid;
    border-color: #bebebe;
    overflow: auto;
}


.header_name{
    font-size: 50px;
    font-weight: 100;
    color: #3a3b02;
    transition: all 0.5s;

}


.header_role{
    font-weight: 400;
    color: #3a3b02;

}


@media screen and (max-width: 700px) {
    .header_name{
        font-size: 40px;
        transition: all 0.5s;
    }
}


@media screen and (max-width: 450px) {
    .header_name{
        font-size: 30px;
        transition: all 0.5s;
    }
}

.reader_logo{
    width:150px;
}


.main_image{

    margin-top: 15px;
}


.body_title_h2 {
    font-size: 38px;
    margin-left: 10px;
}


.portfolio_work {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


.example_title{
    color: #3a3b02;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 400;

}


.project_link{
    color: #3a3b02;
    font-size: 18px;
    font-weight: 200;
    height: 45px;
}


.work{
    width: 300px;
    margin: auto;
}